@using System.Web.Optimization

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff8ee;
            margin: 0;
            padding: 0;
        }
        .navbar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #9dc5c7;
            padding: 1px;
            position: relative;
            z-index: 1;
        }
    </style>

</head>

<body>
    <nav class="navbar">
        <ul style="list-style: none; padding: 0; display: flex; justify-content: flex-end;">
            <li>
                <a href="#" style="text-decoration: none; padding: 10px; color: black;">Agregar</a>
            </li>
        </ul>
    </nav>
    <div>
        <!-- Tu contenido aquí -->
    </div>
</body>
</html>

